/* color */
.bgcRoyalBlue{
    background-color: royalblue;
}
.inputValueBigBlock{
    background-color: rgb(191, 191, 191);
}

.cRed,
.errorMessageC{
    color: red;
}

/* item */
.editBGC{
    background-color: rgb(108,140,215);
}
.groupBGC{
    background-color: rgb(140,64,193);
}
.confirmBGC{
    background-color: rgb(253,44,40);
}
.backBGC{
    background-color: rgb(215,109,219);
}
.createBGC{
    background-color: rgb(223, 159, 56);
}
.addBGC{
    background-color: rgb(109, 219, 179);
}
.recordBGC{
    background-color: rgb(253,185,170);
}
.deleteBGC{
    background-color: red;
}
.finishBGC{
    background-color: rgb(0, 255, 8);
}

.popupWindowBGC{
    background-color:gray
}

.foodChosenBGC{
    background-color:purple;
}