/* color */
.bgcRoyalBlue{
    background-color: royalblue;
}
.inputValueBigBlock{
    background-color: #D9D9D9;
}

.cRed,
.errorMessageC{
    color: red;
}

/* item */
.editBGC{
    background-color: #4e4f97;
}
.groupBGC{
    background-color: #8f77b5;
}
.finishBGC,
.confirmBGC{
    background-color: #f19483;
}
.backBGC{
    background-color: #B6C1C6;
}
.addBGC,
.createBGC{
    background-color: #f19483;
}
.recordBGC{
    background-color: #7b90d2;
}
.deleteBGC{
    background-color: #db4d6d;
}


.popupWindowBGC{
    background-color:gray
}

.foodChosenBGC{
    background-color: #58b2dc;
}