.classifyTypeBlock{
    width:600px;
    background-color: rgb(15, 118, 118);
}
.foodChosenResultBlock{
    display: flex;
    margin: 10px;
}
.foodChosenResultTitle{
    display: flex;
    width: 80px;
    font-weight:bold;
}
.foodChosenResultContent{
    display: flex;
    width: 200px;
}

.drawLostAnime{
    display: flex;
    width: 400px;
    position:fixed;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* position: sticky; */
    /* display: none; */
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    z-index: 2000;
    /* width: 340px; */
    height: auto;
    margin: 20px 0px 20px 0px;
    padding: 10px;
    /* border-radius: 5px; */
}