/* create keyword store */
.earchStoreListBlockTitle_{
    display: flex;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #e2e2e2;
}
.earchStoreListBlockBlock{
    display: flex;
    flex-direction: column;
    width: 280px;
    background-color: rgb(229, 229, 229);
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}
.earchStoreList{
    display: flex;
    padding: 2px 0px 2px 0px;
}