.showAllmemberAndMoneyBlock{
    display: grid;
    width: 300px;
    grid-template-columns: 1fr 1fr 1fr;
    /* box-sizing: border-box;
    width: 100%; */
    text-align: center;
    margin: 10px 0px 5px 0px ;
}

.heightHigher{
    flex-direction: column;
    height: 60px;
}
.orderListButtonContent{
    margin: 4px;
    position: relative;
    top: 25%;
    left:50%;
    transform: translate(-50%, -50%);
}