.accountInfoItems{
    display: grid;
    width: 300px;
    grid-template-columns: 1fr 1fr 1fr;
    /* box-sizing: border-box;
    width: 100%; */
    text-align: center;
    margin: 10px 0px 5px 0px ;
}

.orderHistory{
    display: grid;
    width: 300px;
    grid-template-columns: 1fr 1fr 1fr;
    /* box-sizing: border-box;
    width: 100%; */
    text-align: center;
    margin: 2px;
    border: 1px solid white;
    background-color:rgb(222, 222, 222);
}

.userIconAndName{
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    /* justify-content: center; */
    padding: 10px 10px 10px 10px;
    margin: 10px 0px 10px 0px ;
    /* margin: 0; */
    align-items:center;
    background-color: #f5f5f5;
}
.topAvatorBlock{
    position: relative;
    /* left: 10px; */
    /* width: 80px;
    height: 80px; */
}
.topNameBlock{
    display: flex;
    width: 185px;
    position: relative;
    display: inline-flex;
    /* width: 600px; */
    /* right: 70px; */
    justify-content: center;
    align-items:center;
    /* background-color: #f9f9f9; */
    text-align: center;
    font-size:20px;
    border-radius: 55px;
    height: 40px;
    border-style: solid;
    border-width: 2px;
    color: #666666;
}
/* Edit Button */
.topNameEditButton,
.topNameFinishButton{
    display: flex;
    position: absolute;
    object-fit: cover;
    border-radius:1000px;
    width: 16px;
    height: 16px;
    cursor: pointer; 
    top: 182px;
    right:30%;
    z-index: 50;  
    left: 50%;
    transform: translateX(-50%) translateX(120px);
}

.topEmailEditButton,
.topEmailFinishButton{
    display: flex;
    position: absolute;
    object-fit: cover;
    border-radius:1000px;
    width: 16px;
    height: 16px;
    cursor: pointer; 
    top: 237px;
    right:30%;
    z-index: 50;  
    left: 50%;
    transform: translateX(-50%) translateX(120px);
}
.topPasswordEditButton,
.topPasswordFinishButton{
    display: flex;
    position: absolute;
    object-fit: cover;
    border-radius:1000px;
    width: 16px;
    height: 16px;
    cursor: pointer; 
    top: 293px;
    right:30%;
    z-index: 50;  
    left: 50%;
    transform: translateX(-50%) translateX(120px);
}
.textCenter{
    text-align: center;
}
.topAvatorTitle{  
    position: relative;
    top: -8px;
}
/*  */
.userCenterSelectBlock{
    display: flex;
    justify-content: space-around;
    width: 320px;
    height: 40px;
    align-items: center;
    /* margin: 0%; */
    /* background-color: #f5f5f5; */
}
.userProfileButton{
    width: 160px;
    height: 40px;
    background-color: #eaeaea;
    /* align-items: center; */
    padding: 5px 0px 0px 0px;
    cursor: pointer;
}
.userOrderHistoryButton{
    width: 160px;
    height: 40px;
    background-color: #f2f2f2;
    padding: 5px 0px 0px 0px;
    cursor: pointer;

}

.userNameMessage{
    position: absolute;
    display: flex;
    vertical-align: middle;
    text-align: center;
    z-index: 10;
    top:210px;
}
.userProfileBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #eaeaea;
    padding: 10px 4px 10px 4px;
}

.userInfoBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width:300px
}
.userInfoTitle{
    position: relative;
    display: flex;
    height: 50px;
    left:10px;
    top:12px
}
.userInfoShowBlock{
    display: flex;
    font-family: 'Noto Sans TC';
    font-style: normal;
    color: #000000;
    justify-content: center;
    align-items: center;

    width: 220px;
    height: 35px;
    background-color: #e3e3e3;

    /* border: 1px solid #CCCCCC; */
    border-radius: 5px;
    display: inline-flex;
    margin: 10px 10px 10px 10px;
}
.passwordNewInput{
    margin: 10px 10px 10px 20px;
}
.userInfoInputValuMemberCenter{
    /* position: absolute; */
    display: flex;
    border: none;
    outline: none;
    font-family: 'Noto Sans TC';
    font-style: normal;
    width: 250px;
    height: 35px;
    margin: 10px 0px 10px 0px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 250px;
    font-size: 16px;
    line-height: 13px;
    align-items: center;
    text-align: center;
    color: #757575;
    border-radius: 5px;
}

.userOrderHistoryBlock{
    background-color: #eaeaea;
    padding: 10px 8px 10px 8px;
    margin: 0px;
}
.userOrderHistoryList{
    border-top: 2px solid #000000;
    
    margin: 10px 0px 4px 0px;
}
.userOrderHistoryListSeparateBar{
    border-top: 2px solid #b0b0b0;
    /* border-style:dashed; */
}
/* .userOrderHistoryListOrderListTitleColor{
    color: #c2c2c2;
} */
.memberCenterBlock{
    color: red;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.topDateTimeStore{
    /* color: rgb(13, 0, 255); */
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.menuQuantityPriceTitle{
    background-color:rgb(242, 242, 242);
    /* color: #666666; */
}

.noOrderHistory{
    display: grid;
    width: 300px;
    grid-template-columns: 1fr;
    /* box-sizing: border-box;
    width: 100%; */
    text-align: center;
    font-size: 20px;
    margin: 2px;
    border: 1px solid white;
    background-color:rgb(222, 222, 222);
}