{% extends 'group.html' %}

{% block title %}
<title>Food chosen</title> 
{% endblock %} 

{% block content %}
<main>
    <!-- 1-3 -->
    <div id="drawLotsBlock" class="contentPositionCenter margin">
        <div id="drawLotsAnimationBlcok" class="contentPositionCenter margin">

        </div>
        <div id="settingDrawLotsConditionButton" class="buttonFormat editBGC">
            <div id="settingDrawLotsConditionContent" class="buttonContent">
                設定抽籤條件
            </div>
        </div>
        <div id="goDrawLotsButton" class="buttonFormat confirmBGC">
            <div id="goDrawLotsContent" class="buttonContent">
                直接開抽
            </div>
        </div>
        <div id="backToAskFoodChosenButton" class="buttonFormat backBGC">
            <div id="backToAskFoodChosenContent" class="buttonContent">
                返回
            </div>
        </div>
    </div>
    <!-- 1-4 -->
    <div id="settingDrawLotsConditionBlock" class="contentPositionCenter margin">
        <div id="classifyTypeBlock" class="contentPositionCenter margin">
            <div id="classifyTypeTitle" class="">
                餐點類型
            </div>
            <div id="classifyTypeSelect" class="">
                <select id="classifyTypeSelectDropdown" class="userInfoInputValue">

                </select>
            </div>
        </div>
        <div id="recentlyEatBlock" class="contentPositionCenter margin">
            <div id="recentlyEatTitle" class="">
                最近幾天吃過的
            </div>
            <div id="recentlyEatSelect" class="">

            </div>
        </div> 
        <div id="recentlyNotEatBlock" class="contentPositionCenter margin">
            <div id="recentlyEatTitle" class="">
                排除最近幾天吃過的
            </div>
            <div id="recentlyNotEatSelect" class="">
                
            </div>
        </div> 
        <div id="priceRangeBlock" class="contentPositionCenter margin">
            <div id="priceRangeTitle" class="">
                價位區間
            </div>
            <div id="priceRangeSelect" class="">
                
            </div>
        </div> 
        <div id="settingDrawLotsConditionDoneButton" class="buttonFormat confirmBGC">
            <div id="settingDrawLotsConditionDoneContent" class="buttonContent">
                設定完成
            </div>
        </div>
        <div id="backToDrawLotsButton" class="buttonFormat backBGC">
            <div id="backToDrawLotsContent" class="buttonContent">
                返回
            </div>
        </div>
    </div>
    <!-- 1-5 -->
    <div id="foodChosenResultBlock" class="contentPositionCenter margin">
        <div id="foodChosenResultTitle" class="">
            強森幫你決定這間
        </div>
        <div id="foodChosenResultImage" class="">

        </div>
        <div id="drawLostAgainButton" class="buttonFormat foodChosenBGC">
            <div id="drawLostAgainContent" class="buttonContent">
                再...再抽一次
            </div>
        </div>
        <div id="confirmStoreToOrderButton" class="buttonFormat confirmBGC">
            <div id="confirmStoreToOrderContent" class="buttonContent">
                確定店家
            </div>
        </div>
        <div id="backToDrawLotsButton2" class="buttonFormat backBGC">
            <div id="backToDrawLotsContent2" class="buttonContent">
                返回
            </div>
        </div>
    </div>

</main>
{% endblock %} 

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/by_fate.js') }}"></script>
{% endblock %}