{% extends 'group.html' %}

{% block title %}
<link rel="stylesheet", type="text/css", href="{{ url_for('static', filename='css/foodChosen_create.css') }}" />
<title>Food chosen</title> 
{% endblock %}  

{% block content %}
<main>
    <div id="foodChosenCreateStore" class="contentPositionCenter margin">

        <div id="loadingGif" class=""> 
            <img class="loadingGifImg" src="{{ url_for('static', filename='image/loading.gif') }}">
        </div>
        <div id="intoKeywordTitle" class="titleWord">
            請輸入店家關鍵字
        </div>
        <div id="intoKeywordBlock" class="contentPositionCenter infoBackround inputValueBigBlock margin padding">
            <div id="intoKeywordInput" class="">
                <input type="text" class="userInfoInputValue" id="intoKeyword" placeholder="ex:正忠排骨 AND 高雄" name="intoKeyword">
            </div>
            <div id="searchButton" class="buttonFormat midSizeButtonFormat editBGC">
                <div id="searchContent" class="buttonContent">
                    搜尋
                </div>
            </div>
            <!-- Error Message -->
            <div id="searchStoreErrorMessage" class="">
                <div id="searchStoreErrorMessageContent" class="messageContent errorMessageC">
                </div>
            </div>
            <div class="">
                <p class="">
                    一般查詢直接輸入即可<br>
                    任一符合用空白隔開<br>
                    全部符合要用 大寫的AND隔開
                </p>
            </div>
        </div>
        <div id="searchStoreListBlock" class="">
            <div id="earchStoreListBlockBlock_0" class="">

            </div>
        </div>
        <div id="bottomOneButtonBlock" class="bottomButtonBlock twoBlock">
            <div id="confirmStoreButton" class="buttonFormat confirmBGC">
                <div id="confirmStoreButtonContent" class="buttonContent">
                    確認
                </div>
            </div>
            <!-- 1-8-3 back submit -->
            <div id="backToCreateStoreButton" class="buttonFormat backBGC">
                <div id="backToCreateStoreButtonContent" class="buttonContent">
                    返回
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %} 
{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/foodChosen_create.js') }}"></script>
{% endblock %}