<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <meta charset="utf-8"/>
        <link rel="stylesheet", type="text/css", href="{{ url_for('static', filename='css/base_page.css') }}" />
        <link rel="stylesheet", type="text/css", href="{{ url_for('static', filename='css/button_format.css') }}" />
        <link rel="stylesheet", type="text/css", href="{{ url_for('static', filename='css/color_control.css') }}" />
        <link rel="stylesheet", type="text/css", href="{{ url_for('static', filename='css/content_format.css') }}" />
        <link rel="stylesheet", type="text/css", href="{{ url_for('static', filename='css/position_contril.css') }}" />
        <link rel="stylesheet", type="text/css", href="{{ url_for('static', filename='css/image_control.css') }}" />
        <link rel="stylesheet", type="text/css", href="{{ url_for('static', filename='css/input_format.css') }}" />
        <link rel="stylesheet", type="text/css", href="{{ url_for('static', filename='css/group.css') }}" />
         
{% block title %}   
        <title>Food chosen</title> 
{% endblock %}  
    </head>
    <body>        
        <!-- 1-1 header -->
        <header id="topFreezeBackgroung" class="">
            <!-- 1-1-1 -->
            <nav id="topNav" class="">
                <div id="topLeftTitle" class="topLeftTitle">
                    <a id="topLeftTitleText" class="topLeftTitleText" href="/group">
                        Food chosen
                    </a>                            
                </div>
            <!-- 1-1-2 -->
                <a id="memberCenterBlock" class="memberCenterBlock" href="/member_center">
                    <div id="memberCenterAvator" class="memberCenterAvator">
                        <!-- <img class="smailIconOnTop" src="{{ url_for('static', filename='image/profile_pic_icon.png') }}"> -->
                    </div>
                    <div id="memberCenterName" class="memberCenterName">
                        
                    </div>
                </a>
            </nav>
        </header>
            <!-- 1-2 page title -->
            <div id="pageTitle" class="pageTitleButton">
                <div id="pageTitleContent" class="">
                </div>
            </div>
            <div id="blockScreenFilter" class="blockScreenFilter" ></div>
{% block content %}
        <main>
            <!-- 1-3 choose group -->
            <div id="allGroupBlock" class="contentPositionCenter margin">
                <div class="topButtonBlock oneBlock">
                    <div id="addGroupBlock" class="blinking-bg buttonFixOnTop buttonFormat createBGC">
                        <div id="addGroupContent" class="buttonContent positionAbsolute">
                            新增群組
                        </div>
                    </div>
                </div>
                <!-- js inner -->
            </div>
            <!-- 1-4 create group -->
            <div id="createGroupBlock" class="contentPositionCenter margin">
                
                <div id="createGroupBlock" class="contentPositionCenter infoBackround inputValueBigBlock margin padding">
                    <div id="createGroupNameAndPasswordTitle" class="margin titleWord">
                        請輸入群組名稱及密碼
                    </div>
                    <!-- 1-4-1 name -->
                    <div id="createGroupNameInput" class="userInfoInputBlock">
                        <input type="text" class="userInfoInputValue" id="createGroupName" placeholder="輸入群組名" name="createGroupName">
                    </div>
                    <!-- 1-4-2 password -->
                    <div id="createGroupPasswordInput" class="userInfoInputBlock">
                        <input type="password" class="userInfoInputValue" id="createGroupPassword" placeholder="輸入群組密碼" name="createGroupPassword">
                    </div>
                
                    <!-- Error message -->
                    <div id="createGroupErrorBlock" class="createGroupErrorBlock">
                        <div id="createGroupErrorContent" class="cRed">
                            <!-- js inner -->
                        </div>
                    </div>
                </div>

                <!-- 1-4-3 submit -->
                <div id="createGroupSubmit" class="buttonFormat confirmBGC">
                    <div id="createGroupSubmitContent" class="buttonContent">
                        建立群組
                    </div>
                </div>
                <!-- 1-4-4 back submit -->
                <div id="backGroupSubmit" class="buttonFormat backBGC">
                    <div id="backGroupSubmitContent" class="buttonContent">
                        返回
                    </div>
                </div>
            </div>
        </main>
{% endblock %}   
        <footer>
            <p>
                COPYRIGHT © 2023 MonsterBat
            </p>
        </footer>
        <!-- Javascript -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/function.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/api.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/gobal_varibiable.js') }}"></script>
{% block js %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/group.js') }}"></script>
{% endblock %}
    </body>
</html>
