<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <meta charset="utf-8" />
        <link rel="stylesheet", type="text/css", href="../static/css/home_page.css" />
        <link rel="stylesheet", type="text/css", href="../static/css/button_format.css" />
        <link rel="stylesheet", type="text/css", href="../static/css/color_control.css" />
        <link rel="stylesheet", type="text/css", href="../static/css/content_format.css" />
        <link rel="stylesheet", type="text/css", href="../static/css/position_contril.css" />
        <link rel="stylesheet", type="text/css", href="../static/css/image_control.css" />
        <link rel="stylesheet", type="text/css", href="../static/css/input_format.css" />
        <title>Food chosen</title>  
    </head>
    <body>
        <!-- header -->
        <header id="topFreezeBackgroung" class="topFreezeBackgroung">
            <nav id="topTitle" class="topTitle">
                <a id="topTitleText" class="topTitleText" href="/">
                    Food chosen
                </a>                            
            </nav>
        </header>
    
        <main>
            <!-- 0 Enter web-->
            <div id="enterWebBlock" class="contentPositionCenter">
                <div id="helloUser" class="homePageTitleContent">
                </div>
                <div id="helloUserWelcome1" class="homePageTitleContent">
                    團購、記帳、選餐
                </div>
                <div id="helloUserWelcome2" class="homePageTitleContent">
                    Foof chosen 一次搞定
                </div>
                <div id="homePageImgBlock" class="contentPositionCenter">
                    <img class="homePageImg" src="../static/image/hompage.gif">
                </div>
                <div id="enterSignin" class="buttonFormat bgcRoyalBlue">
                    <div id="enterSigninContent" class="enterSigninContent buttonContent">
                        登入
                    </div>
                </div>
                <div id="enterSignup" class="buttonFormat bgcRoyalBlue">
                    <div id="enterSignupContent" class="enterSignupContent buttonContent">
                        註冊
                    </div>
                </div>
                <div id="gotoStart" class="buttonFormat bgcRoyalBlue">
                    <div id="gotoStartContent" class=" buttonContent">
                        開始
                    </div>
                </div>
            </div>
            <!-- 1 Signin -->
            <div id="signinPage" class="contentPositionCenter">
                <!-- 1-1 Top -->
                <div id="signinPageTopBlock" class="signinPageTopBlock">
                    <!-- 1-1-1 Top title -->
                    <div id="signinPageTopTitle" class="homePageTitleContent">
                        加入傅強森
                    </div>
                    <div id="signinPageTopTitle" class="homePageTitleContent">
                        讓你擺脫選擇人生
                    </div>
                </div>
                <div id="signinInputBlock" class="signinInputBlock contentPositionCenter inputValueBigBlock margin padding">
                    <!-- 1-1-2 Top content -->
                    <div id="signinPageTopContent" class="margin titleWord">
                        請輸入信箱及密碼
                    </div>
                    <div id="signinPageTopErrorContent" class="cRed">
                        <!-- js inner -->
                    </div>
                    <!-- 1-1-4 signin email -->
                    <div id="signinEmailBlock" class="signinEmailBlock contentPositionCenter">

                        <div id="signinEmailInput" class="userInfoInputBlock">
                            <input type="text" class="userInfoInputValue" id="signinEmail" placeholder="輸入電子信箱" name="signinEmail">
                        </div>
                    </div>
                    <!-- 1-1-5 signin password -->
                    <div id="signinPasswordBlock" class="signinPasswordBlock contentPositionCenter">

                        <div id="signinPasswordInput" class="userInfoInputBlock">
                            <input type="password" class="userInfoInputValue" id="signinPassword" placeholder="輸入使用密碼" name="signinPassword">
                        </div>
                    </div>
                </div>
                <!-- 1-2 Signin button -->
                <div id="signinButton" class="buttonFormat confirmBGC">
                    <div id="signinButtonContent" class="enterSignupContent buttonContent">
                        登入系統
                    </div>
                </div>
                <!-- 1-3 Goto Signup button -->
                <div id="gotoSignupButton" class="buttonFormat bgcRoyalBlue">
                    <div id="gotoSignupButtonContent" class="enterSignupContent buttonContent">
                        註冊
                    </div>
                </div>
            </div>

            <!-- 2 Signup -->
            <div id="signupPage" class="signupPage">
                <!-- 2-1 Top -->
                <div id="signupPageTopBlock" class="signupPageTopBlock">
                    <!-- 2-1-1 Top title -->
                    <div id="signupPageTopTitle" class="homePageTitleContent">
                        加入傅強森
                    </div>
                    <div id="signupPageTopTitle" class="homePageTitleContent">
                        讓你擺脫選擇人生
                    </div>
                </div>
                <div id="signupInputBlock" class="signupInputBlock contentPositionCenter inputValueBigBlock margin padding">

                    <!-- 2-1-2 Top content -->
                    <div id="signupPageTopContent" class="margin titleWord">
                        請輸入姓名及帳號密碼
                    </div>
                    <div id="signupPageTopErrorContent" class="cRed">
                        <!-- js inner -->
                    </div>
                    <!-- 2-1-3 signup name -->
                    <div id="signupNameBlock" class="signupNameBlock">

                        <div id="signupNameInput" class="userInfoInputBlock">
                            <input type="text" class="userInfoInputValue" id="signupName" placeholder="輸入使用名稱" name="signupName">
                        </div>
                    </div>
                    <!-- 2-1-4 signup email -->
                    <div id="signupEmailBlock" class="signupEmailBlock">

                        <div id="signupEmailInput" class="userInfoInputBlock">
                            <input type="text" class="userInfoInputValue" id="signupEmail" placeholder="輸入電子信箱" name="signupEmail">
                        </div>
                    </div>
                    <!-- 2-1-5 signup password -->
                    <div id="signupPasswordBlock" class="signupPasswordBlock">

                        <div id="signupPasswordInput" class="userInfoInputBlock">
                            <input type="password" class="userInfoInputValue" id="signupPassword" placeholder="輸入使用密碼" name="signupPassword">
                        </div>
                    </div>
                </div>
                <!-- 2-2 Signup button -->
                <div id="signupButton" class="buttonFormat confirmBGC">
                    <div id="signupButtonContent" class="enterSignupContent buttonContent">
                        註冊並登入
                    </div>
                </div>
                <!-- 2-3 Goto Signup button -->
                <div id="gotoSigninButton" class="buttonFormat bgcRoyalBlue">
                    <div id="gotoSigninButtonContent" class="enterSignupContent buttonContent">
                        登入
                    </div>
                </div>
            </div>
        </main>
        <!-- JavaScript -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/api.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/function.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/home_page.js') }}"></script>
    </body>
</html>
