{% extends 'group.html' %}

{% block title %}
<link rel="stylesheet", type="text/css", href="../static/css/member_center.css" />
<title>Food chosen</title> 
{% endblock %} 
{% block content %}
<main>
    <div id="userCenterBlock" class="contentPositionCenter margin">

        
        <div id="userCenterSelectBlock" class="userCenterSelectBlock">
            <div id="userProfileButton" class="userProfileButton">
                <div id="userProfileButtonContent" class="titleWord">
                    個人資料
                </div>
            </div>
            <div id="userOrderHistoryButton" class="userOrderHistoryButton">
                <div id="userOrderHistoryButtonContent" class="titleWord">
                    點餐履歷
                </div>
            </div>
        </div>
        <!-- 1-3 -->
        <div id="userProfileBlock" class="userProfileBlock">

            <div id="userEmailBlock" class="userInfoBlock">
                <div id="userEmailTitle" class="userInfoTitle">
                    姓名
                </div>
                <div id="userNameShowBlock" class="userInfoShowBlock">
                    <div id="userNameShow" class=""></div>
                </div>
                <div id="topNameEditButton" class="topNameEditButton">
                    <img id="topNameEdit" class="smailEditIcon" src="{{ url_for('static', filename='image/Edit_icon.png') }}">
                </div>
                <div id="topNameFinishButton" class="topNameFinishButton">
                    <img id="topNameFinish" class="smailEditIcon" src="{{ url_for('static', filename='image/ok_icon.png') }}">
                </div>
            </div>

            <div id="userEmailBlock" class="userInfoBlock">
                <div id="userEmailTitle" class="userInfoTitle">
                    信箱  
                </div>
                <div id="userEmailShowBlock" class="userInfoShowBlock">
                    <div id="userEmailShow" class=""></div>
                </div>
                <div id="userEmailEditButton" class="topEmailEditButton">
                    <img class="smailEditIcon" src="{{ url_for('static', filename='image/Edit_icon.png') }}">
                </div>
                <div id="userEmailFinishButton" class="topEmailFinishButton">
                    <img class="smailEditIcon" src="{{ url_for('static', filename='image/ok_icon.png') }}">
                </div>
            </div>
            <div id="userEmailMessage" class=""></div>
            <!-- 1-3-3 -->
            <div id="userPasswordBlock" class="userInfoBlock">
                <div id="userPasswordTitle" class="userInfoTitle">
                    密碼
                </div>
                <div id="userPasswordShowBlock" class="userInfoShowBlock">
                    <div id="userPasswordShow" class="">

                    </div>
                </div>
                <div id="userPasswordEditButton" class="topPasswordEditButton">
                    <img class="smailEditIcon" src="{{ url_for('static', filename='image/Edit_icon.png') }}">
                </div>
                <div id="userPasswordFinishButton" class="topPasswordFinishButton">
                    <img class="smailEditIcon" src="{{ url_for('static', filename='image/ok_icon.png') }}">
                </div>
            </div>
            <!-- 1-3-3* -->
            <div id="userNewPasswordBlock" class="flex">
                <div id="userNewPasswordTitle" class="userInfoTitle">
                    新密碼
                </div>
                <div id="userNewPasswordShowBlock" class="userInfoShowBlock passwordNewInput">
                    <input type="password" id="userNewPasswordShow" class="userInfoInputValuMemberCenter" placeholder="輸入新密碼" name="userNewPasswordShow">
                </div>
            </div>
            <div id="userPasswordMessage" class=""></div>
            <div id="forTopMargin" class="forTopMarginLittle"></div>
            <!-- 1-3-4 -->
            <div id="separate" class="separateBlock"></div>
            <!-- 1-3-5 -->
            <div id="accountInfoTitle" class="titleWord">
                帳戶資訊
            </div>
            <div id="accountInfoItems" class="accountInfoItems forTopMarginLittle">
                <div id="accountInfoGrouop" class="listContent">群組</div>
                <div id="accountInfoBalance" class="listContent">餘額</div>
                <div id="accountInfoReload" class="listContent">儲值</div>
            </div>
            <div id="separate" class="separateBlock"></div>
            <div id="accountInfoListBlock" class="">

            </div>
        </div>
        <!-- 1-4 -->
        <div id="userOrderHistoryBlock" class="contentPositionCenter userOrderHistoryBlock">
            
        </div>

    </div>
</main>
<div id="continueDownloadHistoryData" class="">
    <!-- 繼續下拉 -->
</div>
<div id="continueDownloadGroupData" class="">
    <!-- 繼續下拉 -->
</div>
{% endblock %} 
{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/member_center.js') }}"></script>
{% endblock %}